/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.order-table-panel {
    width: 100%;
    /* padding: 20px; */
}

.order-table-paper {
    width: 80%;
    margin: auto;
}

.order-table {
    width: 380px;
    border: 1px solid #ccc;
    margin: auto;
}

.order-table-visuallyHidden {
    border: 0;
    clip: 'rect(0 0 0 0)';
    height: 1;
    margin: -1;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 20;
    width: 1;
    display: none;
  }

.place-order-button {
  margin-top: 5px !important; 
  margin-bottom: 5px !important; 
}

.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
  width: 24px;
  padding: 10px 12px 10px 16px !important;
}

.MuiTableCell-head {
  background: lightblue;
}
.MenuPage {
  background-image: url("../../images/food2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.MenuPage .Mui-disabled, .OrderPage .Mui-disabled {
  background-color: lavender !important;
}

.OrderPage h3 {
  color: #fff;
}

.MenuPage h3 {
  padding-top: 20px;
}

.OrderPage {
  background-image: url("../../images/food3.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  height: 100%; 
}

.MuiTableCell-sizeSmall.MuiTableCell-paddingCheckbox {
  width: 24px;
  padding: 10px 12px 10px 16px !important;
}

.MuiTableContainer-root {
  max-height: 80px;
  overflow: auto;
}